.NaturalContainer {
  .NaturalWrapper {
    padding: 4rem 2rem;
    .NaturalImg {
      display: flex;
      align-items: center;
      gap: 2rem;

      h1 {
        font-size: 3.6rem;
        color: var(--gray-dark);
      }

      .borderLeft {
        border-left: 2px solid var(--yellow);
        height: 40px;
      }
    }
    p {
      padding-top: 1rem;
      font-size: 1.6rem;
    }
    .NaturalContent {
      display: flex;
      gap: 60px;
      padding-top: 4rem;
      overflow-x: scroll;

      .borderTop {
        border-top: 8px solid var(--yellow);
        width: 49px;
      }
      h3 {
        font-size: 2.6rem;
        padding-top: 1rem;
        font-weight: 700;
        color: var(--gray-dark);
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
