.managementContainer {
  background: var(--light);
  overflow: hidden;

  .managementWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 873px) {
      grid-template-columns: 1fr;
    }

    .ourvalueContent {
      position: relative;
      .ourvalueContentImg {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url("../../public/assets/aboutUs/images/ourValueImg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        width: 100%;
        aspect-ratio: 2.6/2;
        cursor: pointer;

        // transition: all linear 0.7s;

        // &:hover {
        //   transition: all 0.7s;
        //   transform: scale(1.1);
        // }
      }
      .ourvaluePara {
        position: absolute;
        bottom: 40%;
        left: 8%;
        color: var(--white);
        h1 {
          font-size: 3rem;
          font-weight: 500;
          @media (max-width: 425px) {
            font-size: 2.2rem;
          }
        }
        h5 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-top: 0.8rem;
          @media (max-width: 425px) {
            font-size: 1.4rem;
          }
        }
      }
    }
    .sharingOurWorld {
      position: relative;
      .sharingImg {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url("../../public/assets/aboutUs/images/sharingImg.jpg");

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        width: 100%;
        aspect-ratio: 2.5/1.9;
        // transition: all linear 0.7s;
        cursor: pointer;
        // &:hover {
        //   transition: all 0.7s;
        //   transform: scale(1.1);
        // }
      }
      .sharingPara {
        position: absolute;
        bottom: 40%;
        left: 8%;
        color: var(--white);
        h1 {
          font-size: 3rem;
          font-weight: 500;
          @media (max-width: 425px) {
            font-size: 2.2rem;
          }
        }
        h5 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-top: 0.8rem;
          @media (max-width: 425px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .managementContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 8rem;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 873px) {
      padding: 2rem 4rem;
    }

    .structure {
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
        @media (max-width: 425px) {
          font-size: 2.2rem;
        }
      }
      p {
        font-size: 1.8rem;
        margin-top: 0.4rem;
        @media (max-width: 425px) {
          margin-top: 1rem;
          font-size: 1.4rem;
        }
      }
    }
    .organisational {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 1024px) {
        margin-top: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
