.newsContainer {
  .newsHead {
    padding: 2.5rem 8rem 0 8rem;
    @media (max-width: 647px) {
      padding: 2.4rem 2rem 0 2rem;
    }
    h2 {
      font-size: 2.8rem;
      font-weight: 500;
    }
    p {
      margin-top: 1rem;
    }
  }
  .newsWrapper {
    overflow: hidden;
    .newsContent {
      padding: 10em 2rem 2rem;
      border-radius: 6px;
      max-width: 290px;
      width: 100%;
      aspect-ratio: 3.2/4;
      height: 100%;
      color: var(--dark);
      box-shadow: 0 0 13px 0 rgb(0 0 0 / 40%);
      cursor: pointer;
      margin: 3.5rem 2rem 4rem 8rem;
      transition: 0.4s all;
      color: var(--white);
      @media (max-width: 873px) {
        margin: 3.5rem 2rem 4rem 4rem;
      }
      @media (max-width: 550px) {
        margin-left: 5rem;
      }

      &:hover {
        transform: scale(1.05);
        // filter: blur(1.5px);
      }

      .newsflexContent {
        display: flex;
        align-items: center;
        gap: 10px;

        .newsBoder {
          border-top: 4px solid var(--yellow);
          width: 35px;
        }
        h5 {
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      h4 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 0.8rem;
      }
    }
  }
}
